{
  "importOrder": [
    "^@apis/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@data/(.*)$",
    "^@utils/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
