{
  "importOrder": [
    "^@pages/(.*)$",
    "^@apis/(.*)$",
    "^@reducers/(.*)$",
    "^@store/(.*)$",
    "^@hooks/(.*)$",
    "^@data/(.*)$",
    "^@libraries/(.*)$",
    "^@utils/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",
    "^@assets/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
